body {
    background-color: #E2DBDA;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: 'Megrim';
}

h2 {
    font-family: 'Karla';
    font-size: 60px;
    text-align: center;
}

p {
    font-family: 'Karla';
}

a.header {
    font-family: 'Megrim';
    color: black;
    text-decoration: none;
    text-align: center;
}

a.nav:link,
a.nav:visited {
    font-family: 'Comfortaa';
    color: black;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
}

a.nav:hover {
    font-family: 'Comfortaa';
    color: grey;
    text-decoration: underline;
}

a.nav:active {
    font-family: 'Comfortaa';
    color: black;
    text-decoration: none;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

#wholepage {
    margin: auto;
    /*width: 50%;*/
    text-align: center;
}

#header {
    font-size: 50px;
    text-align: center;
}
